{% extends 'base.html' %}

{% block title %} Order №{{ order.id }} {% endblock title %}

{% block content %}
    <a href="{% url 'order:view_all_orders' %}">←Back</a>
    <p></p>
    <h3>Order №{{ order.id }}</h3>
    <div class="container" style="border: 1px solid cornflowerblue; border-radius: 5px; margin-top: 25px; margin-bottom: 20px; padding: 10px">
        <p></p>
        <p><b>User:</b> <a href="{% url 'authentication:detail' order.user.id %}">{{ order.user.first_name }} {{ order.user.last_name }}</a></p>
        <p><b>Book:</b> <a href="{% url 'book:detail' order.book.id %}">{{ order.book.name }}</a></p>
        <p><b>Book taken on:</b> {{ order.created_at }}</p>
        {% if order.end_at %}
            <p><b>Was returned on:</b> {{ order.end_at }}</p>
        {% else %}
            <p><b>Must be returned on:</b> {{ order.plated_end_at }}</p>
        {% endif %}
        <p></p>
    </div>
    {% if user.role == 1 and not order.end_at %}
        <a href="{% url 'order:close_order' order.id %}"><button type="button" class="btn btn-primary">Close order</button></a>
        <a style="padding-left: 10px;" href="{% url 'order:update_order' order.id %}"><button type="button" class="btn btn-secondary">Update</button></a>
        <a style="padding-left: 10px;" href="{% url 'order:delete_order' order.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
    {% endif %}
{% endblock content %}