{% extends 'base.html' %}

{% block title %} {{ author.name }} {{ author.surname }} {% endblock title %}

{% block content %}
    <h1 style="text-align: center">{{ author.name }} {{ author.surname }}'s books:</h1>
    {% if not books %}
        <p></p>
    <h3 style="text-align: center">We have no books written by {{ author.name }} {{ author.surname }} yet.</h3>
    {% endif %}
    {% for book in books %}
        <div class="container" style="border: 1px solid cornflowerblue; border-radius: 5px; margin-top: 25px; margin-bottom: 20px; padding: 10px">
                <h5><a href="{% url 'book:detail' book.id %}">{{ book.name }}</a></h5>
                    <p><strong>Authors:</strong></p>
                    <ul style="list-style: none">
                        {% for author in book.authors.all %}
                            <li><a href="{% url 'author:detail' author.id %}">{{ author.name }} {{ author.surname }}</a></li>
                        {% endfor %}
                    </ul>
                <p><strong>Description: </strong> {{ book.description }}</p>
                <p><strong>Count: </strong> {{ book.count }}</p>
        </div>
                 {% if user.role == 1 %}
                    <a href="{% url 'book:update' book.id %}"><button type="button" class="btn btn-secondary">Update</button></a>
                    <a style="padding-left: 10px;" href="{% url 'book:delete' book.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                 {% else %}
                     <a href="{% url 'order:borrow_book' book.id %}"><button type="button" class="btn btn-primary">Order book</button></a>
                 {% endif %}

    {% endfor %}

{% endblock content %}