{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Update book {% endblock title %}
{% block content %}
    <a href="{% url 'book:list_all' %}">←Back to all books</a>
    <p></p>
 <h3>Update book</h3>
<form method="post">
    <div class="container" style="border: 1px solid cornflowerblue; border-radius: 5px; margin-top: 25px; margin-bottom: 20px; padding: 10px">
    {% csrf_token %}
    {{ form|crispy }}
    </div>
     <button type="submit" class="btn btn-success">Update book</button>
</form>
{% endblock content %}